.body {
    background-color:whitesmoke;
}
.row-width-18vws {
    width: 18vw;
}
.row-width-5vws {
    width: 5vw;
}
.row-width-3vws {
    width: 3vw;
}
.row-width-5tabs {
    width: 5rem;
}
.row-width-3tabs {
    width: 3rem;
}
.row-width-tab {
    width: 1rem;
}
.row-width-half-tab {
    width: 0.5rem;
}
.row-height-5vhs {
    height: 5vh;
}
.row-height-3vhs {
    height: 3vh;
}
.row-height-5tabs {
    height: 5rem;
}
.row-height-tab {
    height: 1rem;
}
.row-height-half-tab {
    height: 0.5rem;
}
.outer-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-container {
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    width: 100%;
    height: auto;
}
.image-big {
    height: auto;
    width: 40vw;
}
.image-medium {
    height: auto;
    width: 20vh;
}
.image-small {
    height: auto;
    width: 5vh;
}
.image-micro {
    height: auto;
    width: 2.5rem;
}

.header {
    display: flex;
    background-color: purple;
    color: white;
    height: 3rem;
}
.header-left {
    font-size:1.4rem;
    align-items: center;
    text-align: left;
    display: flex;
    width: 20vw;
}
.header-right {
    font-size:1rem;
    align-items: center;
    text-align: right;
    width: 80vw;
    display: flex;
    flex-direction: row-reverse;
}
.link{
    color: white;
}
a {
    text-decoration:none;
}
a:hover {
    font-weight: bolder;
    text-decoration:underline;
}
.footer {
    background-color: purple;
    color: white;
    height: 1.8rem;
    font-style: italic;
    font-size: 0.9rem;
}
.section {
    min-height: 80vh;
    margin: 1rem; 
}